.langentrybox {
  border-top: 1px solid;
  border-color: black;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 16px;
}

.langentry {
  background-color: #484F68FF;
  color: #E2E6F3FF;
  border: 2px solid transparent;
  border-radius: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 12px;
  min-width: 160px;
  max-width: 45%;
  display: flex;
  gap: 12px;
  place-items: center;
  place-content: left;
  position: relative;
  transition: border-color 0.5s, background-color 0.5s;
}

.langentry:hover {
  border-color: #646CFFFF;
  background-color: #5F6888FF;
}

.langentryleft img {
  height: 64px;
}

.langentryleft {
  min-width: 128px;
}

.langentryright {
  font-weight: bold;
  font-size: 2rem;
}

.relatedtech {
  font-weight: bold;
}

.otherentrybox {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
}

.otherentry {
  display: flex;
  place-items: center;
}

.otherentry img {
  height: 32px;
  margin: 4px;
}

@media (max-width: 720px){
  .langentry {
    width: 100%;
    place-content: center;
  }
}